In [1]:
%pip install seaborn
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

Requirement already satisfied: seaborn in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.42.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\harry\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Load lead data set

In [49]:
df = pd.read_excel('lead.xlsx',skiprows=2,dtype={'Address': str, '1st Draw': str, '2/3 Min': str, '5 Min': str})
df.head()

          Sample Date               Address 1st Draw 2/3 Min 5 Min
0 2019-10-16 00:00:00   1000XX S OAKLEY AVE        3      10   9.6
1 2019-02-23 00:00:00  100XX S ARTESIAN AVE      9.2     4.3   2.5
2 2019-05-03 00:00:00  100XX S ARTESIAN AVE      1.1     2.9   1.3
3 2019-05-05 00:00:00  100XX S ARTESIAN AVE      1.2     2.6   < 1
4 2021-11-30 09:00:00     100XX S AVENUE L       3.6      16   4.6

Replace X to 0

In [50]:
for i,row in df.iterrows():
    addr = row['Address']
    addr_l = addr.split()
    addr_l[0] = addr_l[0].replace('X','0')
    fixed_addr = ' '.join(addr_l)
    df.loc[i, 'Address'] = fixed_addr
df

              Sample Date               Address 1st Draw 2/3 Min 5 Min
0     2019-10-16 00:00:00   100000 S OAKLEY AVE        3      10   9.6
1     2019-02-23 00:00:00  10000 S ARTESIAN AVE      9.2     4.3   2.5
2     2019-05-03 00:00:00  10000 S ARTESIAN AVE      1.1     2.9   1.3
3     2019-05-05 00:00:00  10000 S ARTESIAN AVE      1.2     2.6   < 1
4     2021-11-30 09:00:00      10000 S AVENUE L      3.6      16   4.6
...                   ...                   ...      ...     ...   ...
40051 2020-02-19 00:00:00      00 W SCHILLER ST      4.1     3.6   1.2
40052 2020-11-01 00:00:00      00 W SCHILLER ST      < 1     < 1   < 1
40053 2022-10-26 07:04:00      00 W SCHILLER ST     <0.5    <0.5  <0.5
40054 2023-05-23 08:15:00      00 W SCHILLER ST        1     1.3   0.6
40055 2022-10-15 12:28:00      00 W SUPERIOR ST     <0.5    <0.5  <0.5

[40056 rows x 5 columns]

Remove invalid row

In [57]:
df = df[df['1st Draw'].notna()]
df = df[df['2/3 Min'].notna()]
df = df[df['5 Min'].notna()]
df = df[df['1st Draw'] != ' ']
df = df[df['5 Min'] != ' ']
df = df[df['2/3 Min'] != ' ']
df = df[df['1st Draw'] != '']
df = df[df['5 Min'] != '']
df = df[df['2/3 Min'] != '']
df

              Sample Date               Address  1st Draw 2/3 Min 5 Min
0     2019-10-16 00:00:00   100000 S OAKLEY AVE       3.0      10   9.6
1     2019-02-23 00:00:00  10000 S ARTESIAN AVE       9.2     4.3   2.5
2     2019-05-03 00:00:00  10000 S ARTESIAN AVE       1.1     2.9   1.3
3     2019-05-05 00:00:00  10000 S ARTESIAN AVE       1.2     2.6     1
4     2021-11-30 09:00:00      10000 S AVENUE L       3.6      16   4.6
...                   ...                   ...       ...     ...   ...
40051 2020-02-19 00:00:00      00 W SCHILLER ST       4.1     3.6   1.2
40052 2020-11-01 00:00:00      00 W SCHILLER ST       1.0       1     1
40053 2022-10-26 07:04:00      00 W SCHILLER ST       0.5     0.5   0.5
40054 2023-05-23 08:15:00      00 W SCHILLER ST       1.0     1.3   0.6
40055 2022-10-15 12:28:00      00 W SUPERIOR ST       0.5     0.5   0.5

[37318 rows x 5 columns]

remove '<' symbol

In [60]:
cols = ['1st Draw', '2/3 Min', '5 Min']
df[cols] = df[cols].applymap(lambda x: x.replace('<', '').strip() if isinstance(x, str) else x)
df['1st Draw'] = df['1st Draw'].astype(float)
df['2/3 Min'] = df['2/3 Min'].astype(float)
df['5 Min'] = df['5 Min'].astype(float)
df = df.sort_values('Sample Date', ascending=True).reset_index(drop=True)
df

              Sample Date               Address  1st Draw  2/3 Min  5 Min
0     2016-01-27 00:00:00   3800 S CAMPBELL AVE      1.54     1.00   1.00
1     2016-01-27 00:00:00   4500 N MERRIMAC AVE      3.22     2.17   1.94
2     2016-01-29 00:00:00   2500 N ST LOUIS AVE     19.10     1.89   1.66
3     2016-01-29 00:00:00  2500 N ST LOUIS AVE*     19.10     1.89   1.66
4     2016-01-29 00:00:00    6100 S LANGLEY AVE      1.00     1.00   1.00
...                   ...                   ...       ...      ...    ...
37313 2023-08-25 16:00:00  4900 W KAMERLING AVE      3.60     7.60   3.30
37314 2023-08-27 08:21:00       1400 N NOBLE ST      0.50     0.50   0.50
37315 2023-08-27 09:33:00      800 N PAULINA ST      0.50     0.50   0.50
37316 2023-08-28 07:00:00   1700 N PARKSIDE AVE      0.50     0.50   0.50
37317 2023-08-28 09:00:00      5200 W NELSON ST      1.60     0.50   0.60

[37318 rows x 5 columns]