# Install Requirement

In [ ]:
%pip install --upgrade pip
%pip install seaborn
%pip install openpyxl
%pip install python-Levenshtein
%pip install pandas
%pip install numpy
%pip install geopandas
%pip install uszipcode
%pip install altair
%pip install seaborn
%pip install openpyxl
%pip install levenshtein

# Import Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import geopandas as gpd
from shapely.geometry import Point
import matplotlib.pyplot as plt
from uszipcode import SearchEngine
import altair as alt
import json
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import warnings

# Clean Data

In [36]:
df = pd.read_csv('merged_df.csv',index_col=0)
df = df[df['1st Draw'] <= 100]
df = df[df['2/3 Min'] <= 100]
df = df[df['5 Min'] <= 100]
df = df[df['zip'] != 'error'].reset_index()
df = df[['1st Draw', '2/3 Min', '5 Min', 'zip']]
df

       1st Draw  2/3 Min  5 Min    zip
0          1.54     1.00   1.00  60609
1          3.22     2.17   1.94  60706
2         19.10     1.89   1.66  60647
3         19.10     1.89   1.66  60647
4          1.00     1.00   1.00  60637
...         ...      ...    ...    ...
35421      3.60     7.60   3.30  60651
35422      0.50     0.50   0.50  60642
35423      0.50     0.50   0.50  60622
35424      0.50     0.50   0.50  60639
35425      1.60     0.50   0.60  60641

[35426 rows x 4 columns]

# Get Top 10 lead level

In [54]:
df_zipcodes = pd.read_csv('uszips.csv',index_col=0)
df['avg'] = df[['1st Draw', '2/3 Min', '5 Min']].sum(axis=1) / 3
df_avg = df.groupby('zip')['avg'].mean()
df_avg = df_avg.sort_values()
df_avg = df_avg.to_frame().reset_index()
df_avg['zip'] = df_avg['zip'].astype(int)
merged_df = df_avg.merge(df_zipcodes, on='zip', how='inner')
merged_df = merged_df[['zip', 'avg', 'city']]
merged_df

      zip       avg               city
0   60803  0.566667              Alsip
1   60605  0.911358            Chicago
2   60601  0.940404            Chicago
3   60654  0.991884            Chicago
4   60007  1.000000  Elk Grove Village
..    ...       ...                ...
71  60501  6.000733        Summit Argo
72  60617  6.013223            Chicago
73  60827  6.243616          Riverdale
74  60406  6.734848        Blue Island
75  61834  7.533333           Danville

[76 rows x 3 columns]

In [53]:
merged_df = merged_df.sort_values(by=['avg'],ascending=False)
merged_df

      zip       avg         city
75  61834  7.533333     Danville
74  60406  6.734848  Blue Island
73  60827  6.243616    Riverdale
72  60617  6.013223      Chicago
71  60501  6.000733  Summit Argo
..    ...       ...          ...
5   60301  1.000000     Oak Park
3   60654  0.991884      Chicago
2   60601  0.940404      Chicago
1   60605  0.911358      Chicago
0   60803  0.566667        Alsip

[76 rows x 3 columns]